{{ form_start(form,  {'attr': {'class': not form.vars.valid ? 'was-validated' : ''}}) }}

<div class="col-12">
    {{ form_label(form.title, null, {'label_attr': {'class': 'form-label'}}) }}
    <div class="input-group has-validation">
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        <div class="invalid-feedback">
            {{ form_errors(form.title) }}
        </div>
    </div>
</div>
<div class="col-12">
    {{ form_label(form.content, null, {'label_attr': {'class': 'form-label'}}) }}
    <div class="input-group has-validation">
        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
        <div class="invalid-feedback">
            {{ form_errors(form.content) }}
        </div>
    </div>
</div>

<button class="btn btn-primary mt-3 mb-3">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
