{% extends 'base.html.twig' %}

{% block title %}{{ 'New Post'|trans }}{% endblock %}

{% block body %}
    <div class="row mb-2 pt-4">
        <h1>{{ 'Create new Post'|trans }}</h1>

        {{ include('dashboard/_form.html.twig') }}

        <div>
            <a href="{{ path('app_dashboard') }}" class="btn btn-primary">{{ 'Back to List'|trans }}</a>
        </div>
    </div>
{% endblock %}
