{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <div class="row mb-2 pt-4">
        <h1>TITLE</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date</th>
                <th>Content</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.date ? post.date|date('Y-m-d') : '' }}</td>
                    <td>{{ post.content }}</td>
                    {% if post.status == constant('App\\Config\\PostStatus::Published').value %}
                        <td class="text-success">{{ post.status }}</td>
                    {% elseif post.status == constant('App\\Config\\PostStatus::Rejected').value %}
                        <td class="text-danger">{{ post.status }}</td>
                    {% else %}
                        <td class="text-secondary">{{ post.status }}</td>
                    {% endif %}
                    <td>
                        <a href="{{ path('app_post_show', {'id': post.id}) }}">show</a>
                        <a href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="mb-3">
            <a href="{{ path('app_post_new') }}" class="btn btn-primary">Create new</a>
        </div>
        {{ pagerfanta(posts) }}
    </div>
{% endblock %}
