{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <div class="row mb-2 pt-4">
        {% for post in posts %}
            <article class="blog-post">
                <h2 class="blog-post-title">{{ post.title }}</h2>
                <p class="blog-post-meta">{{ post.date ? post.date|date('Y-m-d') : '' }}
                    - <a href="#">{{ post.user.name }}</a>
                </p>
                <p>
                    {{ post.content }}
                </p>
                <hr>
            </article>
        {% else %}
            <h3>No Articles found</h3>
        {% endfor %}
    </div>
    {{ pagerfanta(posts) }}
{% endblock %}
